#about-header {
  position: relative;
  width: 100%;
  height: 50vh;
  background: url(../img/about-top.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#about-header > h1 {
  font-size: 4rem;
  margin-left: 5%;
  color: #485e6a;
}

#message {
  position: relative;
  width: 1080px;
  margin: 5rem auto;
  text-align: left;
}

#message > h2 {
  font-size: 4rem;
  color: #40a4ce;
  margin-bottom: 3rem;
}

.message-content {
  position: relative;
  display: flex;
}

.message-content > .text {
  position: relative;
  width: 70%;
}

.message-content > .text > h3 {
  font-size: 2rem;
}

.message-content > .text > p {
  font-size: 1.2rem;
  margin-top: 3rem;
  color: #485e6a;
}

.prof {
  position: relative;
  width: 30%;
  text-align: center;
}

.prof > img {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.prof > p {
  color: #485e6a;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
}

.prof > p > span {
  font-size: 1rem;
}

#company {
  position: relative;
  width: 1080px;
  margin: 5rem auto;
  text-align: left;
}

#company > h2 {
  font-size: 4rem;
  color: #40a4ce;
  margin-bottom: 3rem;
}

.company-info {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.company-info > .left-box,
.company-info > .right-box {
  position: relative;
  width: 45%;
}

.company-info > .left-box > ul,
.company-info > .right-box > ul {
  position: relative;
  display: flex;
}

.company-info > .left-box > ul > li,
.company-info > .right-box > ul > li {
  color: #485e6a;
  padding: .8rem 0;
}

.company-info > .left-box > ul > li:first-child,
.company-info > .right-box > ul > li:first-child {
  font-weight: bold;
  width: 25%;
  border-right: 1px solid #485e6a;
}

.company-info > .left-box > ul > li:last-child,
.company-info > .right-box > ul > li:last-child {
  padding-left: 1.5rem;
}

#recruit {
  position: relative;
  width: 100%;
  background: #eaf6fd;
  margin-top: calc(25vw * 0.43 + 5rem);
}

.recruit-content {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.recruit-content > img {
  position: relative;
  width: 50%;
  margin-top: calc(-25vw * 0.43);
}

.recruit-content > h2 {
  font-size: 4rem;
  color: #40a4ce;
  margin: 3rem auto 2rem;
}

.recruit-content > h3 {
  font-size: 2rem;
}

.recruit-content > p {
  margin: 1rem auto 3rem;
  color: #485e6a;
}

#access {
  position: relative;
  width: 100%;
  margin: 5rem auto;
}

#access > h2 {
  font-size: 4rem;
  color: #40a4ce;
  margin: 4rem auto;
}

.access-content {
  position: relative;
  width: 1080px;
  margin: 0 auto 4rem;
  display: flex;
  justify-content: space-between;
}

.access-content > .text {
  text-align: left;
}

.access-content > .text > p {
  color: #485e6a;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.access-content > img {
  position: relative;
  width: 25%;
  margin: 0 10%;
}

@media screen and (max-width: 1080px) {
  #about-header {
    height: auto;
    aspect-ratio: 16 / 9;
  }
  #about-header > h1 {
    font-size: 2rem;
  }
  #message {
    width: 90%;
    margin: 3rem auto;
  }
  #message > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .message-content > .text {
    width: 100%;
  }
  .message-content > .text > h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .prof {
    width: 50%;
    margin: 2rem auto;
  }
  .message-content > .text > p {
    font-size: 1rem;
    margin-top: 2rem;
  }
  #company {
    width: 90%;
    margin: 4rem auto 3rem;
  }
  #company > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .company-info {
    flex-direction: column;
  }
  .company-info > .left-box,
  .company-info > .right-box {
    width: 100%;
  }
  .company-info > .left-box > ul > li:first-child,
  .company-info > .right-box > ul > li:first-child {
    width: 30%;
  }
  .company-info > .left-box > ul > li:last-child,
  .company-info > .right-box > ul > li:last-child {
    padding-left: 1rem;
  }
  .recruit-content {
    width: 100%;
  }
  .recruit-content > img {
    width: 100%;
  }
  .recruit-content > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .recruit-content > h3 {
    font-size: 1.3rem;
  }
  .recruit-content > p {
    width: 90%;
    text-align: left;
  }
  #access {
    margin: 3rem auto 4rem;
  }
  #access > h2 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .access-content {
    width: 90%;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }
  .access-content > img {
    width: 80%;
  }
  .access-content > .text {
    margin-top: 4rem;
  }
}