@charset "utf-8";
@font-face {
    font-family: 'NotoSansJP',sans-serif;
    src: url(font\ -\ コピー/NotoSansJP);
}

/*共通部分
--------------------------------------------------------------*/
html{
    font-size: 100%;
}

body{
    line-height: 1.7;
    color: #432;
    height: 1000px; /*全体の高さ----------------------------------*/
}

img{
    max-width: 100%;
}

/*ヘッダー
--------------------------------------------------------------*/
.all-header{
  height: 1250px;
}

.header-top1{
    text-align: center;
    position: relative;
    z-index: 1;
}

.header-top1 img{
    width: auto;
    height: auto;
}
.header-top1 p{
    color:#064f94;
    font-family: 'NotoSansJP', sans-serif;
    position: absolute;
    font-size: 600%;
    font-weight: 600;
    top: 70%;
    left: 10%;
}

.header-top2{
    display: flex;
    position:fixed;
    top:0px;
    margin-left: 3%;
    z-index: 999;
}

.menu-all{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    margin-top: 45px;
}

.menu-nav{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-size:20px;
}

.menu-nav li{
	margin-left: 36px;
    text-decoration: none;
}



.menu-nav a{
    color: #432;
    text-decoration: none;
}

.menu-nav a:hover {
	color:#0bd
}

.circle {
    position: relative;/* ←文字の親要素に指定 */
    width: 250px;
    height: 50px; 
    background-color: #485e6a;
    border-radius: 100vh;
    margin: 0 auto;
    text-align: center;
    margin-left: 490px;
}
.circle-inner {
    position: absolute;
    top: 25%;
    left: 13%;
    color: white;
    font-weight: 600;
}
/*メイン
--------------------------------------------------------------*/

/*ニュース欄------------------------------------------------*/
.news{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
    height: 400px;
}

.news-list{
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.midashi{
  margin-left: -2px;
}

.news-top{
    color: #a7d28f;
    font-size: 30px;
}

.read-more{
    color: #485e6a;
    font-size: 20px;
    margin-left: 65%;
    margin-right: 160px;
}
 .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #485e6a;
    border-bottom: 1px solid #e8ebe7;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 120px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: #00F;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }
  
  /* 装飾 */
   
  *{
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  body{
    margin: 20px;
  }


  /*実績欄------------------------------------------------*/
  .layer{
    height: 620px;
  }

  .layer-in{  /*背景-----------*/
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px; 
    height: 500px;
    margin:5px; padding:10px; 
    background:linear-gradient(180deg, #40a4ce 0%, #40a4ce 35%, #eaf6fd 35%, #eaf6fd 100%);
    margin-left: 15%;
    border-radius: 20px;
    
  }

  .layer-top{
    text-align: center;
  }


  .layer-top img{
    position: absolute;
    width: 400px;
    height: 200px;
    top: -150px;
    left: 30%;
  }

  .layer-top p{
    position: absolute;
    color: #fff;
    font-size: 35px;
    width: 88%;
    line-height: 1.2;
    margin-left: 5%;
    margin-top: 6%;
    font-weight: 600;
  }

  .layer-under{  /*実績欄 / レイヤー下部分------------------------*/
    position: absolute;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    width: 800px;
  }

  .under{ /*実績欄 / 要素の入るそれぞれの箱------------------------*/
    size: 30px;
    margin-top: 7px;
    margin-left: 45px;
    text-align: center;
    width: 200px;
  }

  .under p{ /*実績欄 / 登録ユーザー------------------------*/
    line-height: 1.2;
    font-size: 20px;
    font-weight: 300;
  }

  .under h1{ /*実績欄 / 5,500------------------------*/
    font-size: 45px;
    margin-top: -18px;
  }

  .under-hr{
    width: 100%;
    border-width: 3px;
  }

  .komejirushi{
    margin-left: 63%;
  }



  /*サービス欄------------------------------------------------*/
  .container{
    width: 100%;
    position: relative;
    height: 510px;
  }
  .container img{
    display:block;
    width:100%;
    height: 440px;
    object-fit: cover;
  }
  .container p{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color:#485e6a;
    margin:0;
  }

  /*スマホに動画入れ込む欄----------------------------------------
  ----------------------*/
.sumaho{  /*スマホ全体---------------------*/
  height: 950px;
  
}

.sumaho-tittle-parent{ /*スマホ前半---------------*/
  text-align: center;
  width: 70%;
  height: 150px;
  margin-left: 15%;
  margin-bottom: 0px;
}

.sumaho-tittle p{
  font-size: 37px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
}

.sumaho-contents{ /*スマホ後半---------------*/
  height: 800px;
}

.sumaho-moji{
  float: left;
  width: 35%;
  margin-left: 10%;
  list-style-type: none;
  margin-top: 3%;
}

.sumaho-moji h1{
  background-color: #f2f91c;
  font-size: 25px;
  padding: 6px;
}

.sumaho-moji p{
  font-size: 17px;
  line-height: 2;
  text-align: left;
}

.sumaho-img{      /*スマホ後半 img大元---------------*/
  
}

.sumaho-imgg{ /*スマホ後半　スマホ画像---------------*/
  height: 600px;
  position: ;
  margin-left: 17%;
  margin-top: 50px;

}

.sumaho-video{ /*スマホ後半　動画---------------*/
  height: 600px;
  position: ;
  width: 340px;
  margin-top: 70px;  
  border-radius: 40px;
  object-fit: cover;
}

  /*アカウント紹介---------------------------------------------------------------------------
  ------------------------------------------------------*/
section{
  height: 950px;
}

.shimaya{  /*shimaya全体---------------*/
  background-color: #f4f8ea;
  height: 400px;
  width: 70%;
  border-radius: 30px;
  margin-left: 15%;
}

.shimaya-img{ /*shimaya画像親要素---------------*/
  float: left;
  margin-top: 5%;
  margin-left: 13%;
}

.shimaya img{ /*shimaya画像本体---------------*/
  width: 150px;
  height: 300px;
}

.shimaya-contents{  /*shimayaテキスト---------------*/
  float: right;
  width: 60%;
}

.shimaya-tittle{
  width: 550px;
  height: 70px;
  margin-top: 30px;
  display: flex;
  text-align: center;
}

.shimaya-tittle1{
  width: 190px;
  background-color: #828f96;
  color: #fff;
}

.shimaya-tittle2{
  width: 360px;
  background-color: #fff;
}

.shimaya-text{ /*文字ボックス------*/
  width: 550px;
  margin-top: 3%;
  
}

.shimaya-text p{ /*文字自体------*/
  font-size: 18px;
  text-align: left;
  line-height: 2;
}

.shimaya-suji{
  display: flex;
  margin-left: 15%;
  margin-top: 4%;
  text-align: center;
}

.shimaya-suji1{
  font-size: 20px;
  font-weight: 700;

}

.shimaya-suji2{
  margin-left: 50px;
  font-size: 20px;
  font-weight: 700;
}

.hr-shimasato{
  border-top: 3px solid;
  margin-top: -5px;
  margin-bottom: -20px;
}


/*佐藤さん始まり---------------*/

.sato{  /*sato全体---------------*/
  background-color: #f4f8ea;
  height: 400px;
  width: 70%;
  border-radius: 30px;
  margin-left: 15%;
  margin-top: 30px;
}

.sato-img{ /*sato画像親要素---------------*/
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}

.sato img{ /*sato画像本体---------------*/
  width: 150px;
  height: 300px;
}

.sato-contents{  /*satoテキスト---------------*/
  float: left;
  width: 60%;
  margin-left: 10%;
}

.sato-tittle{
  width: 550px;
  height: 70px;
  margin-top: 30px;
  display: flex;
  text-align: center;
}

.sato-tittle1{
  width: 190px;
  background-color: #828f96;
  color: #fff;
}

.sato-tittle2{
  width: 360px;
  background-color: #fff;
}

.sato-text{ /*文字ボックス------*/
  width: 550px;
  margin-top: 3%;
  
}

.sato-text p{ /*文字自体------*/
  font-size: 18px;
  text-align: left;
  line-height: 2;
}

.sato-suji{
  display: flex;
  margin-left: 15%;
  margin-top: 4%;
  text-align: center;
}

.sato-suji1{
  font-size: 20px;
  font-weight: 700;

}

.sato-suji2{
  margin-left: 50px;
  font-size: 20px;
  font-weight: 700;
}


/*箸休め--------------------------------------------------------------------------
-----------------------------------------------------------------*/
.hashiyasume{
  height: 670px;
  width: 100%;
}

.hashiyasume img{
  height: 600px;
  width: 100%;
  object-fit: cover;
}

/*フロー--------------------------------------------------------------------------------------
-------------------------------------------------------*/
.flow-all{  /*フロー---------------*/
  height: 900px;
}
.flow{ /*フロー / タイトル---------------*/
  text-align: center;
  height: 250px;
}

.flow-tittle{
  color: #a7d28f;
  height: 45%;
  font-size: 25px;
}

.flow-tittle h1{
  font-weight: 400;
}


.flow-text p{
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  color: #485e6a;
  text-align: center;
}

.flow-contents{ /*フロー / コンテンツ / 大元---------------*/
  height: 300px;
  margin-left: 17%;
}

.box{
  display: flex;
  text-align: center;
}

.flow-box1{ /*BOX1---------------*/
  background-color: #fff;
  height: 180px;
  width: 200px;
  margin-left: 30px;
}

.box-step{ /*step文字箱---------------*/
  background-color: #485e6a;
  height: 33%;
  width: 200px;
}

.box-step p{ /*step文字---------------*/
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.box-text{ /*text文字箱---------------*/
  position: relative;
  background-color: #f2f2f2;
  height: 67%;
  width: 200px;
  line-height: 200px;
}

.box-text p{ /*text文字---------------*/
  position: absolute;
  font-size: 25px;
  width: 65%;
  margin-top: 15%;
  margin-left: 15%;
  color: #485e6a;
  line-height: 1.2;
  text-align: center;
}

span{
  display: block;
}

.flow-box2{ /*BOX2---------------*/
  background-color: #fff;
  height: 180px;
  width: 200px;
  margin-left: 30px;
}


.flow-box3{ /*BOX3---------------*/
  background-color: #fff;
  height: 180px;
  width: 200px;
  margin-left: 30px;
}


.flow-box4{ /*BOX4---------------*/
  background-color: #fff;
  height: 180px;
  width: 200px;
  margin-left: 30px;
}


.bikou{      /*フロー / 備考欄---------------*/
  background-color: #fff;
  width: 100%;
  list-style:  none;      /* デフォルトのアイコンを消す */
  margin:  0;             /* デフォルト指定上書き */
  padding: 0;             /* デフォルト指定上書き */
  height: 200px;
  
}

.bikou-text{ /*フロー / 備考欄 / テキスト---------------*/
  background-color: #fff;
  margin: 0 auto;
  font-size: 22px;
  margin-left: 23%;
}

.bikou-text::before{ /*フロー / 備考欄 / 黒点--------------*/
  content:  "";
  width: 15px;
  height: 15px;
  display:  inline-block;     /* インラインブロックにする */
  background-color: #485e6a;  /* 背景色指定 */
  border-radius:  50%;   
  margin-right: 4px;    

}

.bikou-hr{
  margin-left: 10%;
}

.hr-flow{
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 10px dotted #e8ebe7;
  width: 90%;
}


/*　インタビュー　-------------------
-------------------------------------------------------------------*/
.interview{
  height: 600px;
}

.interview-top{
  height: 300px;
  width: 80%;
  display: flex;
  margin-left: 15%;
}

.top-text{ /*　左 / テキスト--------------*/
  background-color: #eaf6fd;
  height: 300px;
  width: 530px;
}

.top-text h1{
  margin-top: 20%;
}

.p-box{
  margin-top: 95px;
}

.p-box p{
  text-align: left;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
}

.top-pic{ /*　右 / 写真の箱　--------------*/
  height: 300px;
  width: 530px;
}

.top-pic img{ /*　右 / 写真本体のサイズ　--------------*/
  height: 300px;
  width: 530px;
  object-fit: cover;
}

p{ /*　インタビューテキスト　--------------*/
  text-align: left;
  font-size: 16px;
  color: #666;
  line-height: 2.5;
  margin: 0;
}

.interview-text {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 70px;
}

.interview-botton {
	width: 300px;
	font-size: 15px;
	color:#FFFFFF;
	font-family: 'Note Sans JP',sans-serif;
	font-weight: 400;
	text-align:center;
	display:block;
	padding:10px 0 10px;
	background:#485e6a;
	border-radius: 40px;
  border: 1px solid #485e6a;
  margin-top: 30px;
  margin-left: 35%;
}

.interview-botton a{
  color: #FFFFFF;
}




/*　アバウト / コンタクト　--------------------------------*/
.about-contact{ /*　全体　--------------*/
  height: 600px;
  background-color: #e8ebe7;
  display: flex;
}


.about{ /*　アバウト全体　---------------------------------
  ---------------------------------------------------------*/
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;
  
}

.about-pic{ /*　アバウト / 写真の上に画像　--------------*/
  position: ;

}

.about img{ /*　アバウト / 写真　--------------*/
  position: ;
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.about h1{ /* アバウト文字----*/
  color: #fff;
  margin-top: -75px;
}

.ac-text{
  text-align: center;
  margin-top: 50px;
}

.ac-text P{
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

.contact{ /* コンタクト全体　------------------------------
  -----------------------------------------------------------*/
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;

}

.contact-pic{ /*　コンタクト / 写真の上に画像　--------------*/

}

.contact img{ /*　コンタクト / 写真　--------------*/
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.contact h1{ /* コンタクト文字----*/
  color: #fff;
  margin-top: -75px;
}

.kadomaru {
	width: 200px;
	font-size:20px;
	color:#FFFFFF;
	font-family: 'Note Sans JP',sans-serif;
	font-weight: 550;
	text-align:center;
	display:block;
	padding:10px 0 10px;
	background:#485e6a;
	border-radius: 40px;
  border: 1px solid #485e6a;
  margin-top: 30px;
  margin-left: 25%;
  }


  /*フッター--------------------------------------------------*/
.footer01 {
	color: #fff;
	background: linear-gradient( 90deg, #064f94, #40a4ce);
	padding: 40px;
	font-family: 'Note Sans JP',sans-serif;
   }
   .footer01 a {
	color: #fff;
	text-decoration: none;
   }
   .footer01 a:hover {
	text-decoration: underline;
   }
   .menu{
	display: flex;
	font-size: 20px;
   }
   .copyright{
	list-style: none;
	font-size: 17px;
   }
   .footer01 .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
   }
   .footer01 .menu li {
	margin: 0;
	padding: 10px 20px 70px 20px;
   }
   .footer01 .copyright {
	margin: 0;
	padding: 20px 0 0 20px;
   }




































/*🔻２ページ目　top2-about.html---------------------------------------------------------------------
   -------------------------------------------
   --------------------------------------------
   ---------------------------------------------*/


/*ヘッダー ------------------
---------------------------------------*/
.about-header{
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
  height: 85px;
}

.a-top-header{
  display: flex;
  top: 0px;
  margin-left: 2%;
}

.a-menu-all{
  list-style: none;
  display: flex;
  text-transform: uppercase;
  margin-top: 25px;
}

.a-menu-nav{
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
}

.a-menu-nav li{
  margin-left: 36px;
  text-decoration: none;
}

.a-menu-nav a {
  color: #432;
  text-decoration: none;
}

.menu-nav a:hover {
color:#0bd
}

.a-circle {
  position: relative;/* ←文字の親要素に指定 */
  width: 250px;
  height: 50px; 
  background-color: #485e6a;
  border-radius: 100vh;
  margin: 0 auto;
  text-align: center;
  margin-left: 490px;
}
.a-circle-inner {
  position: absolute;
  top: 25%;
  left: 13%;
  color: white;
  font-weight: 600;
}

/*トップ欄-----------------------------*/
   
.about-menu{
  width: 100%;
  position: relative;
  height: 600px;
}
.about-menu img{
  display:block;
  width:100%;
  height: 600px;
  object-fit: cover;
}
.about-menu p{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  color:#485e6a;
  margin:0;
}



/*代表メッセージ欄----------------------------------
-----------------------------------------------------------*/
.message{ /*大枠--------------------*/
  height: 800px;
  margin-top: 40px;
  display: flex;
}

.message-left{ /*左サイド-------------------*/
  width: 60%;
  text-align: left;
  margin-left: 10%;
}

.message-left h1{
  color: #40a4ce;
  font-size: 55px;
}

.left-tittle{
  width: 80%;
  text-align: left;
}

.left-tittle h2{
  font-size: 40px;
  line-height: 0.8;
}

.left-honbunn{
  width: 80%;
  margin-top: 60px;
}

.left-honbunn p{
  font-size: 19px;
  text-align: left;
  line-height: 1.7;
}

.left-honbunn p span{
  display: block;
}

.message-right{ /*右サイド--------------------*/
  width: 40%;
  margin-top: 10%;
}

.message-right img{
  width:  300px;       /* ※縦横を同値に */
  height: 250px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: center;  /* 横長画像の左上を基準に表示 */
}

.right-p{
  margin-top: 30px;
  margin-left: -230px;
}

.right-p p{
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}

/*カンパニーインフォ欄----------------------------------
-----------------------------------------------------------*/
.company-info{    /*カンパニーインフォ欄---------*/
  height: 1000px;
}

.info-tittle{
  margin-left: 10%;
}

.info-tittle h1{
  font-size: 50px;
  color: #40a4ce;
}

.table-box{ /*テーブル情報---------*/
  display: flex;
  width: 75%;
  margin-left: 10%;
}

.table-box tr { 
  border-bottom: 1px solid #b5b1b1;
}

.table-box th,
.table-box td {
  padding: 24px 0;
  border: none;
  text-align: left;
}

.table-box th {
  width: 30%;
}

.table01{
  width: 50%;
}

.table02{
  width: 50%;
}


/* sp */
@media only screen and (max-width: 480px) {
  .table01 th,
  .table01 td {
    width: 100%;
    display: block;
  }

  .table01 th {
    width: 100%;
  }

  .table01 td {
    padding-top: 0;
  }
}

/*リクルート欄----------------------------------
-----------------------------------------------------------*/
.ricruit{
  height: 600px;
  background-color: #eaf6fd;
}

.ricruit img{
  height: 380px;
  width: 50%;
  object-fit: cover;
  margin-top: -210px;
  margin-left: 25%;
}

.ric-tittle-1 h1{
  color: #40a4ce;
  font-size: 30px;
  text-align: center;
}

.ric-tittle-2 h1{
  color: #485e6a;
  font-size: 30px;
  text-align: center;
}

.ric-tittle-2 p{
  width: 40%;
  margin-left: 30%;
  line-height: 1.7;
  font-size: 17px;
}

.ricruit-botton{
  margin-top: 50px;
  margin-left: 43%;
  background-color: #485e6a;
  color: #FFFFFF;
  font-size: 24px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #485e6a;
}

/*アクセス----------------------------------
-----------------------------------------------------------*/
.access{
  height: 750px;
  margin-top: 50px;
}

.ac-top h1{
  color: #40a4ce;
  text-align: center;
  font-size: 45px;
}

.ac-con{  /* ※コンテンツ */
  display: flex;
  margin-top: 80px;
}

.ac-left{  /* ※左ボックス */
  width: 60%;
  margin-left: 15%;
}

.ac-moji{
  width: 70%;
}

.ac-moji p{
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
}

.moji-con{
  margin-top: 50px;
}

.ac-right{  /* ※右ボックス */
  width: 40%;
}

.ac-right img{
  height: 350px;
  width: auto;
  object-fit: cover;
}

.access-botton{
  margin-top: 90px;
  margin-left: 45%;
  background-color: #485e6a;
  color: #FFFFFF;
  font-size: 24px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #485e6a;
}

/*NEWS-CONTACT----------------------------------
----------------------------------------------------------------------------*/

.news-contact{ /*　全体　--------------*/
  height: 600px;
  background-color: #e8ebe7;
  display: flex;
}


.news{ /*　アバウト全体　---------------------------------
  ---------------------------------------------------------*/
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;
  
}

.news-pic{ /*　アバウト / 写真の上に画像　--------------*/
  position: ;

}

.news img{ /*　アバウト / 写真　--------------*/
  position: ;
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.news h1{ /* アバウト文字----*/
  color: #fff;
  margin-top: -75px;
}

.ac-text{
  text-align: center;
  margin-top: 50px;
}

.ac-text P{
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

.contact{ /* コンタクト全体　------------------------------
  -----------------------------------------------------------*/
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;

}

.contact-pic{ /*　コンタクト / 写真の上に画像　--------------*/

}

.contact img{ /*　コンタクト / 写真　--------------*/
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.contact h1{ /* コンタクト文字----*/
  color: #fff;
  margin-top: -75px;
}

.kadomaru {
	width: 200px;
	font-size:20px;
	color:#FFFFFF;
	font-family: 'Note Sans JP',sans-serif;
	font-weight: 550;
	text-align:center;
	display:block;
	padding:10px 0 10px;
	background:#485e6a;
	border-radius: 40px;
  margin-top: 30px;
  margin-left: 25%;
  }










































/*🔻３ページ目　top2-news.html-------------------
---------------------------------------------------
--------------------------------------------------
   -------------------------------------------
   ----------------------------------
   --------------------------------------------
   ---------------------------------------------*/

   /* news-ヘッダー欄--------------*/

   .about-header{
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    height: 85px;
  }
  
  .a-top-header{
    display: flex;
    top: 0px;
    margin-left: 2%;
  }
  
  .a-menu-all{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    margin-top: 25px;
  }
  
  .a-menu-nav{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .a-menu-nav li{
    margin-left: 36px;
    text-decoration: none;
  }
  
  .a-menu-nav a {
    color: #432;
    text-decoration: none;
  }
  
  .menu-nav a:hover {
  color:#0bd
  }
  
  .a-circle {
    position: relative;/* ←文字の親要素に指定 */
    width: 250px;
    height: 50px; 
    background-color: #485e6a;
    border-radius: 100vh;
    margin: 0 auto;
    text-align: center;
    margin-left: 490px;
  }
  .a-circle-inner {
    position: absolute;
    top: 25%;
    left: 13%;
    color: white;
    font-weight: 600;
  }

/*NEWS‐トップ欄 / aboutのものを併用-----------------------------*/
.news-menu{
  width: 100%;
  position: relative;
  height: 700px;
}
.news-menu img{
  display:block;
  width:100%;
  height: 600px;
  object-fit: cover;
}
.news-menu p{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  color:#485e6a;
  margin:0;
}



/* ニュース原稿--------------*/
/*　インタビュー　-------------------
-------------------------------------------------------------------*/
.n-interview{
  height: 2000px;
}

.n-interview-top{
  height: 300px;
  width: 80%;
  display: flex;
  margin-left: 15%;
}

.n-top-text{ /*　左 / テキスト--------------*/
  background-color: #eaf6fd;
  height: 300px;
  width: 530px;
}

.n-top-text h1{
  margin-top: 20%;
}

.n-p-box{
  margin-top: 95px;
}

.n-p-box p{
  text-align: left;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
}

.n-top-pic{ /*　右 / 写真の箱　--------------*/
  height: 300px;
  width: 530px;
}

.n-top-pic img{ /*　右 / 写真本体のサイズ　--------------*/
  height: 300px;
  width: 530px;
  object-fit: cover;
}

.n-show-text p { /*　インタビューテキスト　--------------*/
  text-align: left;
  font-size: 20px;
  color: #666;
  line-height: 2;
  margin: 0;
}

.n-interview-text {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 70px;
}

.n-hide-text {
  display: none;
}

.n-hide-text p{
  text-align: left;
  font-size: 20px;
  color: #666;
  line-height: 2;
  margin: 0;
}


.n-readmore {
  position: relative;
  height: 80px;
  width: 90px;
  margin: 40px auto;
  display: block;
  background-color: transparent;
  color: #666;
  padding-bottom: 40px;
  border: none;
  outline: 0;
  transition: .5s;
  -erbkit-transition: .5s;
}

.n-readmore::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: solid 3px #666;
  border-right: solid 3px #666;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  right: 28px;
  top: 25px;
  transition: .5s;
  -erbkit-transition: .5s;
}

.n-readmore:hover::after {
  top: 40px;
}

.on-click {
  color: transparent!important;
}

.on-click {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.pro p{
  font-size: 18px;
  font-weight: 900;
  
}


/*　インタビュー練習----*/

